.perfilEmpresa {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 70px;

  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;

    button {
      padding: 10px 20px;
      flex-grow: 1;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      font-size: 16px;
      transition: border-color 0.3s ease;

      &.active {
        border-bottom: 2px solid #6108FF;  // Linha que indica a aba ativa
      }
    }
  }

  .containerCentral {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    .nomeEmpresa {
      font-weight: normal;
      text-align: center;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }

    .preferenciasName {
      font-size: 18px;
      text-align: center;
      color: #402178;
      margin-bottom: 20px;
    }

    .dadosPessoais h2 {
      font-size: 18px;
      background-color: #f3ecff;
      padding: 5px;
      border-radius: 5px;
      color: #402178;
      text-align: center;
      margin-bottom: 20px;
    }

    .campo {
      margin-bottom: 15px;
      text-align: left;

      label {
        display: block;
        margin-bottom: 5px;
      }

      input,
      textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;

        &.disabled {
          background-color: #f1f1f1; /* Cor de fundo quando desativado */
          cursor: not-allowed; /* Cursor bloqueado */
        }

        &.editable {
          background-color: #fff; /* Cor de fundo quando ativado */
          cursor: text; /* Cursor de texto quando ativado*/
        }
      }

      textarea {
        resize: none; /* Desabilita a redimensionamento do textarea */
      }
    }

    .buttonContainer {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .salvarBtn,
      .alterarBtn {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;

        &.salvarBtn {
          background-color: #6108FF;
          color: white;

          &:hover {
            background-color: #4d07cc; /* Tom mais escuro ao passar o mouse */
          }

          &:disabled {
            background-color: #ccc; /* Cor de fundo quando desabilitado */
            cursor: not-allowed; /* Cursor bloqueado */
          }
        }

        &.alterarBtn {
          background-color: #ff9800;
          color: white;

          &:hover {
            background-color: #e68a00; /* Tom mais escuro ao passar o mouse */
          }

          &:disabled {
            background-color: #ccc; /* Cor de fundo quando desabilitado */
            cursor: not-allowed; /* Cursor bloqueado */
          }
        }
      }
    }
  }
}

.error-message-email {
  color: red;
  font-size: 0.8em;
  //position: absolute;
  left: 0;
  margin-top: 20px;
}