.container2{
    margin-top: 95px;
    background-color: #F4F4F3;
.content{
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1024px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    .conex{
        display: flex;
        font-weight: bold;
        color: #4A90E2;
        //flex-direction: column;
        //margin-left: 100px;

        .conex-text{
            font-size: 12px;
            font-weight: normal;
            color: #6F6E6E;
            display: inline-block; /* Garante que o span tenha seu próprio tamanho */
            max-width: 250px; /* Limita a largura ao tamanho do conteiner pai */
            //word-wrap: break-word; /* Garante que o texto seja quebrado se necessario */
        }

        .img-grafic{
            margin-top: 28px;
        }

        .titulo-grafico{
            font-size: 15px;
            margin-left: 12px;
        }
    }


    .suporte{
        display: flex;
        //flex-direction: column;
        font-weight: bold;
        color: #4A90E2;

        //margin-left: 100px;

        .suporte-text{
            font-size: 12px;
            margin-top: 3px;
            font-weight: normal;
            color: #6F6E6E;
            display: inline-block; /* Garante que o span tenha seu próprio tamanho */
            max-width: 250px; /* Limita a largura ao tamanho do conteiner pai */
            //word-wrap: break-word; /* Garante que o texto seja quebrado se necessario */
        }

        .img-suporte{
            margin-top: 28px;
        }

        .titulo-suporte{
            font-size: 15px;
            margin-left: 12px;
        }
    }

    .oportunidade{
        display: flex;
        //flex-direction: column;
        font-weight: bold;
        color: #4A90E2;
        margin-top: 15px;

        //margin-left: 100px;

        .oportunidade-text{
            font-size: 12px;
            margin-top: 3px;
            font-weight: normal;
            color: #6F6E6E;
            display: inline-block; /* Garante que o span tenha seu próprio tamanho */
            max-width: 250px; /* Limita a largura ao tamanho do conteiner pai */
            //word-wrap: break-word; /* Garante que o texto seja quebrado se necessario */
        }

        .img-oportunidade{
            margin-top: 30px;
        }

        .titulo-oportunidade{
            font-size: 15px;
            margin-left: 12px;
        }
    }
}
    

   
}