.container4 {
    width: 100%;
    background-color: #F4F4F3;
  .content {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    margin-inline: auto;
    //margin-left: 160px;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    
    .emprego-ideal {
      display: flex;
      margin-inline: auto;
      justify-content: space-between;
      h2 {
        width: 50%;
      }
      p {
        width: 50%;
        text-align: justify;
      }
    }

    .blocos {
      margin-top: 90px;
      display: flex;
      justify-content:space-between;
      h3{
        margin-top: 10px;
      }
      p{
        margin-top: 10px;
        width: 370px;
      }
      .cubo1{
        margin-right: 20px;
      }
      .cubo2{
        margin-right: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .blocos {
    flex-direction: column;
    margin: 0 auto;
    .cubo1, .cubo2, .cubo3 {
      width: 100%;
      margin: 20px 0;
    }
  }
}
