.containerfooter {
  background-color: #4f4f4f;
  width: 100%;
  position: relative;
  .content {
    display: flex  ;
    color: white;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
