.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000; // Certifique-se de que o pop-up esteja acima de outros elementos
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.success-notification,
.error-notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px 25px;
  border-radius: 4px;
  color: white;
  z-index: 1000;
  animation: slideIn 0.5s ease-out;
}

.success-notification {
  background-color: #4caf50;
}

.error-notification {
  background-color: #f44336;
}

.error-message {
  color: #f44336 !important;;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
  display: block;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    top: -100px;
    opacity: 0;
  }
  100% {
    top: 20px;
    opacity: 1;
  }
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 10px;
  width: 90%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  padding: 0;
  position: relative;
  max-height: 90vh;
  overflow: hidden;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 1001;
}

.modal-body {
  display: flex;
  width: 100%;
  max-height: 90vh;
  overflow-y: hidden; 
}

.modal-left-2 {
  flex: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100%;
  display: flex;
}

.modal-left-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 0; /* Adicionado */
  padding: 0; /* Adicionado */
}

.modal-right {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto; 
}

.modal-right h2 {
  color: black;
  margin-bottom: 20px;
  margin-top: 0;
}

.modal-right form {
  display: flex;
  flex-direction: column;
}

.modal-right label {
  color: black;
  margin-bottom: 5px;
  margin-top: 2px;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 20px; /* Ajuste conforme necessário */
}

.back-button img {
  width: 18px;  /* Ajuste o tamanho da imagem conforme necessário */
  height: 18px;
}


.modal-right input,
.modal-right textarea,
.modal-right select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.modal-right textarea {
  resize: none;
}

.dynamic-input {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.dynamic-input input {
  flex-grow: 1;
}

.dynamic-input select {
  width: 45%; 
  margin-bottom: 1px;
}

.dynamic-input button {
  padding: 8px 10px;
  margin-bottom: 12px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dynamic-input button:hover {
  background-color: #0056b3;
}

.submit-button {
  padding: 12px 20px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #218838;
}

.item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.item-list button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.ibge{
  margin-bottom: 1rem;
  label {
    display: block; /* Garante que o rótulo fique acima do campo */
    margin-bottom: 0.5rem; /* Espaço entre o rótulo e o select */
  }

  select {
    width: 100%; /* Ajuste opcional para expandir o campo */
    padding: 0.5rem;
    font-size: 1rem;
  }
}


@media (max-width: 768px) {
  .modal-content {
    flex-direction: column;
    max-width: 100%;
  }

  .modal-left {
    display: none;
  }

  .modal-right {
    padding: 15px;
  }

  .dynamic-input {
    flex-direction: column;
  }

  .dynamic-input button {
    width: 100%;
  }
}

