.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 10px;
  width: 90%; /* Ajuste a largura para 90% para garantir que caiba na tela */
  max-width: 900px;
  display: flex;
  flex-direction: row; /* Row para a imagem e o formulário ficarem lado a lado */
  padding: 0; /* Remover padding para evitar bordas indesejadas */
  position: relative;
  overflow-y: auto; /* Adiciona rolagem vertical se o conteúdo for maior que a tela */
  max-height: 90vh; /* Limita a altura máxima do modal */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 1001; /* Garante que o botão esteja acima do conteúdo do modal */
}

.modal-body {
  display: flex;
  width: 100%;
}

.modal-left {
  flex: 1; /* Deixa a imagem ocupar todo o espaço disponível do lado esquerdo */
  margin: 0;
}

.modal-left img {
  width: 100%; /* A imagem ocupará toda a largura do contêiner esquerdo */
  height: 100%; /* A imagem ocupará toda a altura do contêiner */
  object-fit: cover; /* Garante que a imagem se ajuste sem distorção */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; /* Mantém as bordas arredondadas */
}

.modal-right {
  flex: 1; /* O lado direito agora ocupa o mesmo espaço que o esquerdo */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-right h2 {
  color: black;
  margin-bottom: 20px;
  margin-top: 0; /* Remove qualquer margem superior para evitar corte */
}

.modal-right form {
  display: flex;
  flex-direction: column;
}

.modal-right label {
  color: black;
  margin-bottom: 5px;
}

.modal-right input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button {
  width: 100%; /* Ajuste para 100% da largura do formulário */
  padding: 10px 20px;
  background-color: #3A5BCC;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-right input:focus {
  border-color: #3A5BCC; /* Altere para a cor azul desejada */
  outline: none; /* Remove o outline padrão */
}
