.AreaCandidato {
    .msg-inicial {
      margin-top: 25px;
      margin-left: 80px;
      text-align: center;
    }
  
    .contentArea {
      display: flex;
      gap: 20px; /* Espaçamento entre esquerda e meio */
      margin-top: 50px;
      //justify-content: space-around;
  
      .esquerda {
        width: 35%; /* Ajuste conforme necessário */
        margin-left: 40px;

        p {
            font-size: 16px;
            margin-bottom: 10px;
        }
        
        .stats-container {
          display: flex;
          gap: 20px;
          margin-bottom: 40px;
  
          .stat-box {
            background-color: white;
            color: #4499CC;
            width: 155px;
            height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 2px solid #4499CC;
            align-items: center;
            border-radius: 10px;
  
            .stat-number {
              font-size: 24px;
              font-weight: bold;
              margin-bottom: 5px;
            }
  
            .stat-description {
              color: #616161;
              font-size: 13px;
              text-align: center;
            }
          }
        }
  
        .profile-strength {
          background-color: white;
          color: #4499CC;
          width: 328px;
          height: 90px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 2px solid #4499CC;
          border-radius: 10px;
          margin-top: 10px;
  
          p {
            color: #616161;
            font-size: 15px;
            margin-bottom: 10px;
          }
  
          .progress-bar {
            background-color: #A8A8A8;
            border-radius: 10px;
            overflow: hidden;
            width: 70%;
            height: 20px;
  
            .progress {
              background-color: #FAA434;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
  
              .progress-text {
                color: black;
                font-weight: bold;
              }
            }
          }
        }
      }
  
      .meio {
        margin-bottom: 90px;
        width: 28%; /* Ajuste conforme necessário */
        background-color: white;
        border: 2px solid #4499CC;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
  
        h3 {
          color: black;
          margin-bottom: 20px;
        }
  
        .vaga-lista {
          .vaga-item {
            margin-bottom: 20px;
  
            .vaga-titulo {
              color: #026BD4;
              font-size: 13px;
              margin-bottom: 5px;
            }
  
            .vaga-empresa {
              color: black;
              font-size: 12px;
              margin-bottom: 5px;
            }
  
            .vaga-localidade {
              color: #616161;
              font-size: 12px;
              margin-bottom: 10px;
            }
  
            .vaga-divisor {
              border: none;
              border-top: 1px solid #7a8089;
              margin: 0 1px; /* Espaçamento das bordas */
            }
          }
        }

        .ver-mais-btn {
          background-color: #0D3878;
          color: white;
          border: none;
          padding: 10px 20px;
          font-size: 14px;
          font-weight: bold;
          text-align: center;
          border-radius: 5px;
          cursor: pointer;
          align-self: center; /* Centraliza o botão */
          margin-top: 20px;
        }
        
        .ver-mais-btn:hover {
          background-color: #0A2D5E; /* Cor de fundo ao passar o mouse */
        }
      }

      .direita{
        width: 20%;
        margin-left: 130px;

        h3 {
          margin-bottom: 20px;
        }

        .pesquisa-recente {
          display: flex;
          align-items: center;
          background-color: white;
          border: 2px solid white; /* Borda branca */
          border-radius: 10px;
          padding: 10px;
          margin-bottom: 20px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Drop shadow suave */
        
          .lupa-icon {
            width: 25px;
            height: 25px;
            margin-right: 15px;
          }
        
          .pesquisa-info {
            p {
              margin: 0;
              font-size: 14px;
        
              &:first-child {
                color: black;
              }
        
              &:last-child {
                color: #616161;
              }
            }
          }
        }
        

      }

    }
  }

  @media (max-width: 768px) {
    .AreaCandidato {
      .contentArea {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
  
        .esquerda, .meio, .direita {
          width: 90%; /* Ajusta a largura para 90% no mobile */
          margin-left: 0; /* Remove a margem esquerda */
        }
  
        .esquerda {
          .stats-container {
            flex-direction: column;
            align-items: center;
            gap: 10px;
          }
  
          .profile-strength {
            width: 100%; /* Ajusta a largura para 100% no mobile */
          }
        }
  
        .meio {
          margin-bottom: 20px;
        }
  
        .direita {
          margin-left: 0; /* Remove a margem esquerda */
        }
      }
    }
  }
  